@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&display=swap");
.lightmode {
  background-color: #f2f2f2;
  color: #171717;
}
.lightmode header {
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}
.lightmode header a {
  font-size: large;
  padding: 1%;
  color: gray;
  text-decoration: none;
  font-family: "Inter Tight", sans-serif;
}
.lightmode header a:hover {
  color: darkgrey;
  text-decoration: underline;
}
.lightmode header .headerLink {
  padding-left: 1%;
  padding-right: 1%;
  display: inline;
  font-family: "Inter Tight", sans-serif;
  font-size: larger;
}
.lightmode main .headText {
  text-align: center;
}
.lightmode main .switch {
  position: relative;
  display: block;
  margin-right: 5%;
  margin-left: auto;
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border: 2px solid #171717;
  border-radius: 20%;
}
.lightmode main .slider {
  display: inline-block;
  background-color: #f2f2f2;
  height: 17px;
  width: 17px;
  margin-top: 9%;
  margin-left: 10%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 50%;
}
.lightmode main .switch > input {
  display: none;
  opacity: 0;
  height: 0;
  width: 0;
}
.lightmode main .switch > input:checked + .slider {
  -webkit-transform: translateX(140%);
  -ms-transform: translateX(140%);
  transform: translateX(140%);
  background-color: #171717;
}
.lightmode main .flexBoxHolder > figure {
  margin: 0;
}
.lightmode main .container {
  display: flex;
  flex-wrap: nowrap;
}
.lightmode main .container > div {
  font-family: "Inter Tight", sans-serif;
  margin: 1%;
  width: 50%;
  max-width: 100%;
  align-self: center;
  height: auto;
}
.lightmode main .imageBoxElement {
  display: block;
  flex-wrap: wrap;
  align-self: center;
}
.lightmode main .imageBoxElement > img {
  max-width: 100%;
  width: 100;
  height: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.lightmode main .imageBoxElement > figcaption {
  text-align: center;
  padding: 5%;
  font-size: medium;
  font-family: "Inter Tight", sans-serif;
}
.lightmode main #imageOfMe {
  border-radius: 5%;
  max-width: 100%;
  height: auto;
}
.lightmode main h1 {
  text-align: center;
  font-family: "Inter Tight", sans-serif;
}
.lightmode main p {
  margin: 1%;
  font-size: x-large;
  font-family: "Inter Tight", sans-serif;
}
.lightmode main .block {
  box-sizing: content-box;
  max-width: 50%;
  height: auto;
  border-radius: 5%;
  background-color: #04f06a;
  border: 1px solid black;
  transition: 500ms ease-in-out;
}
.lightmode main .block .borderImg > img {
  max-width: 100%;
  box-sizing: border-box;
  height: auto;
  max-height: 100%;
}
.lightmode main .block:hover {
  box-shadow: 3px 3px 40px #171717;
}
.lightmode main .programmerBlock {
  position: relative;
  background-color: #171717;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  height: 600px;
  width: auto;
}
.lightmode main .positionBlock {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.lightmode main .terminalText {
  align-self: center;
  color: #04f06a;
  font-family: "Courier New", Courier, monospace;
  white-space: pre;
}
.lightmode main #gitHubLogo {
  display: flex;
}
.lightmode main #gitHubLogo img {
  width: 4%;
  margin-left: 5%;
  height: auto;
}

/*# sourceMappingURL=stylesheet.css.map */
